---
import { Image } from 'astro:assets'
import hero from '@/assets/851855.webp'
import Label from '@/components/Label.astro'
import { resumeData, socialLinks } from '@/site-config'
import { Icon } from 'astro-icon/components'
import { siteConfig } from '@/site-config'
---

<section class='flex flex-col items-center gap-y-7'>
  <Image
    src={hero}
    alt='profile photo'
    class='h-28 w-auto rounded-full border-2 border-slate-500 dark:border-slate-200'
    loading='eager'
  />

  <div class='flex flex-col items-center gap-y-4'>
    <h1 class='text-3xl font-bold'>{siteConfig.author}</h1>
    <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
      <div class='flex items-center gap-x-2'>
        <Label title={resumeData.job_title}>
          <Icon name='briefcase' class='h-5 w-5' slot='icon' />
        </Label>
        <a href={resumeData.company.url} target='_blank'>
          <Label title={resumeData.company.name} class='hover:underline' />
        </a>
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
        </span>
      </div>
      <Label title={resumeData.location}>
        <Icon name='map-pin' class='h-5 w-5' slot='icon' />
      </Label>
      <Label as='a' href='Resume.pdf' title='Download Resume' target='_blank'>
        <Icon name='pdf' class='h-5 w-5' slot='icon' />
      </Label>
      <Label as='a' href={`mailto:${resumeData.email}`} title={resumeData.email} target='_blank'>
        <Icon name='email' class='h-5 w-5' slot='icon' />
      </Label>
      <Label title='Connect on Linkedin' as='a' href={socialLinks[1].path} target='_blank'>
        <Icon name={socialLinks[1].icon} class='h-5 w-5 text-foreground/75' slot='icon' />
      </Label>
    </div>
  </div>
</section>
