---
import type { Project } from "@/data/projects";

type Props = Project;

const { title, tech, inProgress, image, liveUrl, githubUrl } = Astro.props;
---

<article
  class="group relative w-full overflow-hidden rounded-md border transition-all duration-300 ease-in-out hover:border-muted-foreground"
>
  <div class="absolute right-4 top-4 z-10 flex items-center">
    {
      githubUrl && (
        <a
          href={githubUrl}
          class="rounded-full bg-black/50 p-3 backdrop-blur-md transition-all hover:bg-black/70"
          aria-label="Social Media"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-github"
          >
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
          </svg>
        </a>
      )
    }

    {
      liveUrl && (
        <a
          href={liveUrl}
          class="ml-1 rounded-full bg-black/50 p-3 text-white backdrop-blur-md transition-all hover:bg-black/70"
          aria-label="Social Media"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-link-2"
          >
            <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3" />
            <line x1="8" y1="12" x2="16" y2="12" />
          </svg>
        </a>
      )
    }

    {
      inProgress && (
        <span
          class="flex flex-row rounded-full bg-black/50 p-3 backdrop-blur-md transition-all hover:bg-black/70"
          aria-label="Social Media"
        >
          <p class="mr-2">In Progress</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M13 2.03v2.02c4.39.54 7.5 4.53 6.96 8.92c-.46 3.64-3.32 6.53-6.96 6.96v2c5.5-.55 9.5-5.43 8.95-10.93c-.45-4.75-4.22-8.5-8.95-8.97m-2 .03c-1.95.19-3.81.94-5.33 2.2L7.1 5.74c1.12-.9 2.47-1.48 3.9-1.68v-2M4.26 5.67A9.885 9.885 0 0 0 2.05 11h2c.19-1.42.75-2.77 1.64-3.9L4.26 5.67M2.06 13c.2 1.96.97 3.81 2.21 5.33l1.42-1.43A8.002 8.002 0 0 1 4.06 13h-2m5.04 5.37l-1.43 1.37A9.994 9.994 0 0 0 11 22v-2a8.002 8.002 0 0 1-3.9-1.63M12.5 7v5.25l4.5 2.67l-.75 1.23L11 13V7h1.5Z"
            />
          </svg>
        </span>
      )
    }
  </div>

  <a
    href={liveUrl ? liveUrl : githubUrl}
    target="_blank"
    class={`group relative flex flex-col overflow-hidden items-end justify-end aspect-[3/2] ${
      inProgress ? "hover:cursor-default" : "hover:cursor-pointer"
    }`}
  >
    <img
      src={image}
      loading="lazy"
      alt="featureImage"
      class="absolute inset-0 h-full w-full object-cover object-center transition duration-300 group-hover:scale-105"
    />
    <div
      class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-20 transition duration-200 group-hover:opacity-0"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 right-0 flex flex-wrap justify-between p-3"
    >
      <div class="invisible md:visible md:flex md:flex-wrap">
        {
          tech.map((technology) => (
            <span class="mb-3 mr-3 inline-block rounded-lg bg-black/50 p-3 px-2 py-1 backdrop-blur-md transition duration-200 hover:bg-black/70 md:px-3">
              {technology}
            </span>
          ))
        }
      </div>
      <span
        class="relative mb-3 mr-3 inline-block rounded-lg border bg-black/50 p-3 px-2 py-1 backdrop-blur-md transition duration-200 hover:bg-black/70 md:px-3"
      >
        {title}
      </span>
    </div>
  </a>
</article>
