---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatDate, slugify } from "@/utils";
import { siteConfig } from "@/data/config";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();

const { title, description } = post.data;

const ogUrl = new URL(`/posts/${slugify(title)}.png`, Astro.url.origin).href;

const canonicalURL = new URL(`/posts/${post.slug}`, Astro.url.origin).href;
---

<Layout
  title={title}
  author={siteConfig.author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
>
  <main class="mx-auto w-full max-w-3xl px-4 pb-12">
    <button
      class="focus-outline mb-2 flex items-center hover:opacity-75"
      onclick="history.back()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6L14 18Z"></path></svg
      >
      <span>Go back</span>
    </button>
    <!-- <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1> -->
    <h1
      class="text-2xl font-semibold text-accent"
      transition:name={slugify(title)}
    >
      {title}
    </h1>
    <!-- <Datetime datetime={pubDatetime} size="lg" className="my-2" /> -->
    {formatDate(post.data.publishedAt)}
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>

    <!-- <ul class="tags-container">
      {tags.map((tag) => <Tag name={slugifyStr(tag)} />)}
    </ul> -->
  </main>
  <!-- <Footer /> -->
</Layout>
